:root {
  --main-dark: #2a0332;
  --main-light: #cb64ff;
  --gradient: linear-gradient(90deg, rgba(41,2,49,1) 0%, rgba(56,77,228,1) 0%, rgba(203,100,255,1) 100%);

}

body{ 
  overflow-x :hidden; 
  font-family: "Poppins", sans-serif;
  }


/* HEADER */

.customNav {
  position: fixed;
  background-color: var(--main-dark) !important;
  font-size: 15px;
  color: white !important;
  width: 100vw;
}

.customNav a {
  color: white !important;
}

.navbar-brand {
  margin-right: 2.5rem;
}

.navbar-brand span {
  font-family: "Lobster", sans-serif;
  font-size: 25px;
}

.nav-link {
  padding-bottom: 0px;
}


/* HOME STYLE*/
.jumbotron {
  background-image: url(../public/purple-keyboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  text-align: left;
  margin-bottom: 0px;
}

.jumbotron img {
  background: linear-gradient(white, white) padding-box, linear-gradient(var(--main-dark), var(--main-light), #fbeb1d)border-box;
  border-radius: 50%;
  border: 5px solid transparent;
}

.jumbotron h1 {
  font-size: 70px;
}

.jumbotron p {
  font-size: 23px;
}

