:root {
  --main-dark: #2a0332;
  --main-light: #cb64ff;
  --gradient: linear-gradient(90deg, rgba(41,2,49,1) 0%, rgba(56,77,228,1) 0%, rgba(203,100,255,1) 100%);

}

body{ 
  overflow-x :hidden; 
  font-family: "Poppins", sans-serif;
  }


/* HEADER */

.customNav {
  position: fixed;
  background-color: var(--main-dark) !important;
  font-size: 15px;
  width: 100vw;
  z-index: 10;
}

.navbar-brand {
  margin-right: 2.5rem;
}

.navbar-brand span {
  font-family: "Lobster", sans-serif;
  font-size: 25px;
}


/* HOME STYLE*/
.jumbotron {
  background-image: url(../public/purple-keyboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  text-align: left;
  margin-bottom: 0px;
}

.jumbotron img {
  background: linear-gradient(white, white) padding-box, linear-gradient(var(--main-dark), var(--main-light), #fbeb1d)border-box;
  border-radius: 50%;
  border: 5px solid transparent;
}

.jumbotron h1 {
  font-size: 70px;
}

.jumbotron p {
  font-size: 23px;
}

/* CONTACT */

.contact-form {
  background-color: var(--main-dark);
  flex-direction: column;
  height: 100vh;
  color: white;
  align-items: center;
}

.form-group {
  width: 60vw;
}

.contact-form input {
  height: 3rem;
}

.contact-form textarea {
  height: 10rem;
}

.contact-form button {
  background-color: var(--main-light);
  border-color: var(--main-light);

  /* background-color: #007bff;
  border: #007bff; */
}

.contact-form button:hover {
  background-color: #cb64ff;
  border: #cb64ff;
}

/* PROJECT CARDS */

.projects-section {
  padding: 100px 40px 0px 40px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-dark);
  font-weight:bold;
}

.cardContainer {
  margin-bottom: 30px; 
  max-width: 400px;
}

.card {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}

.card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px; 
}

.project-img {
  height: 200px;
  padding: 10px;
}

.project-body {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  min-height: 180px;
}

.project-txt {
  min-height: 115px;
  flex-grow: 1;

}

.project-buttons {
  flex-grow: 1;
}

.btn {
  margin: 5px;
  font-size: 14px;
}

#live {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
}

#live:hover {
  background-color: var(--main-light);
  border-color: var(--main-light);
}

#code {
  background-color: white;
  border-color: var(--main-dark);
  color: var(--main-dark) !important;
}

#code:hover {
  background-color: var(--main-light);
  border-color: var(--main-light);
}



